@model Jugnoon.Videos.Models.VideoJsModelView
<div class="m-t-5 m-b-10">
    <div data-player-id="cdcc4202-ef0b-4e03-a43a-d1fcf6d83157">
        <script src="//cdn.flowplayer.com/players/ffdf2c44-aa29-4df8-a270-3a199a1b119e/native/flowplayer.async.js">
            {
                "src": "@Model.VideoFeed[0].src"
            }
        </script>
    </div>
</div>