<div [ngSwitch]="fileType">
  <app-display-image
    [showFileName]="showFileName"
    [colcss]="colcss"
    [avatormode]="avatormode"
    [showoriginalSize]="showoriginalSize"
    [photouploader]="photouploader"
    (onRemove)="filterList($event)"
    *ngSwitchCase="'image'"
    [images]="files"
  ></app-display-image>
  <app-display-audio
    (onRemove)="filterList($event)"
    *ngSwitchCase="'audio'"
    [audioFiles]="files"
  >
  </app-display-audio>
  <app-display-video
    (onRemove)="filterList($event)"
    *ngSwitchCase="'video'"
    [videos]="files"
  ></app-display-video>
  <app-display-file
    (onRemove)="filterList($event)"
    *ngSwitchCase="'file'"
    [files]="files"
  ></app-display-file>
</div>
