@inject IStringLocalizer<GeneralResource> GeneralResource
@{
    ViewData["Title"] = GeneralResource["_forgot_password_confirmation"].Value;
}

<div class="row">
    <div class="col-md-8 mx-auto m-t-30 m-b-30">
        <h2>
            @GeneralResource["_forgot_password_confirmation"].Value
        </h2>
        <p>
            @GeneralResource["_forgot_password_confirmation_msg"].Value;
        </p>
    </div>
</div>
