@inject IStringLocalizer<GeneralResource> GeneralResource
@{
    ViewData["Title"] = GeneralResource["_reset_password_confirmation"].Value;
}

<div class="row">
    <div class="col-md-8 mx-auto m-t-30 m-b-30">
        <h2 class="m-b-20">
            @GeneralResource["_reset_password_confirmation"].Value
        </h2>
        <p>
            @GeneralResource["_reset_password_confirmation_msg"].Value <a asp-action="Login">@GeneralResource["_click_here_to_login"].Value</a>.
        </p>
    </div>
</div>