@inject IStringLocalizer<GeneralResource> GeneralResource
    <div class="container" style="">
        <div style="margin-top:80px;"></div>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center m-b-20">@GeneralResource["_sign_out_confirm_msg_01"].Value</h2>
                <div class="text-center">
                    <a href="/" class="workscene-btn-success">@GeneralResource["_return_to_homepage"].Value</a>
                </div>
            </div>
        </div>
        <div style="margin-bottom:80px;"></div>
    </div>

